.main-nav {
  background: #fff;
  //background-color: rgba(white, .75);
  box-shadow: 1px 1px 3px rgba(black, .5);
  //box-shadow: 1px 1px 3px $gray-dark;
  padding: 1rem 1rem;
  width: 100%;
  @include clearfix
  margin-bottom: -6rem;
  z-index: 100;
  @media (max-width: 321px) {
    padding: .75rem;
  }
}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.main-nav {

  li {
    float: left;
  }

  .nav{
    @include clearfix;
  }

  .nav-link {
    padding-top:    .425rem;
    padding-bottom: .425rem;

    + .nav-link {
      margin-left: 1rem;
    }
  }

  .nav-item + .nav-item {
    margin-left: 1rem;
  }

  .nav-link {
    color: #888;

    @include hover-focus {
      color: darkorange;
      // color: $navbar-light-hover-color;
    }
    &.active,
    &:active, {
      color: darkorange;
    }
  }
  
  .nav-link.active {
    color: darkorange;
    @include plain-hover-focus {
      color: darkorange;
    }
    @include hover-focus {
      color: darkorange;
      //color: $navbar-light-hover-color;
    }
  }
}
